@font-face {
  font-family: 'BLOKKNeue';
  src: url('../fonts/BLOKKNeue-Regular.eot');
  src: url('../fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BLOKKNeue-Regular.woff') format('woff'), url('../fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 14, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.primary * {
  font-family: 'Source Serif Pro', Georgia, serif; }

/* line 17, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.secondary * {
  font-family: 'Source Sans Pro', sans-serif; }

/* line 23, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.color1 {
  background: #FFFFFF; }

/* line 24, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.color2 {
  background: #DDDDDD; }

/* line 25, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.color3 {
  background: #AAAAAA; }

/* line 26, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.color4 {
  background: #666666; }

/* line 27, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.color5 {
  background: #333333;
  color: #DDDDDD; }

/* line 28, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.color6 {
  background: #d13731; }

/* line 29, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.color7 {
  background: #44b3e1; }

/* line 43, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.logo {
  margin-bottom: 0; }
  /* line 45, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .logo img {
    width: 100%;
    max-width: 240px; }
  /* line 49, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .logo span {
    display: block; }

/* line 56, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.horizontal-nav--guide {
  padding-top: 0; }
  /* line 58, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .horizontal-nav--guide ul {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.2s linear;
    transition: max-height 0.2s linear; }
    /* line 63, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .horizontal-nav--guide ul.opened {
      max-height: 2000px; }
  /* line 67, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .horizontal-nav--guide a {
    font-size: 0.875rem;
    line-height: 1; }

/* line 80, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.pg-brand .primary__brand a, .pg-usage .primary__usage a, .pg-grid .primary__grid a, .pg-elements .primary__elements a, .pg-modules .primary__modules a, .pg-components .primary__components a, .pg-templates .primary__templates a {
  color: #FFFFFF;
  cursor: default; }

/* line 86, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.main .horizontal-nav--guide {
  margin: 1.5rem 0; }

/* line 90, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.header {
  padding-top: 1.5rem; }

/* line 96, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
p, dd {
  max-width: 48em; }

/* line 100, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
figure p, .colors p {
  max-width: none; }

/* line 103, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.more {
  clear: both; }

/* line 110, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.type-sample p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.25rem;
  letter-spacing: 0.1em; }

/* line 118, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.colors {
  background: #fff; }

/* line 121, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.swatch {
  position: relative;
  display: block;
  height: 7.5rem;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif; }

/* line 135, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.iconset ul {
  list-style: none; }

/* line 145, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grids .container hr {
  clear: both; }
/* line 149, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grids .folding {
  margin-bottom: 24;
  height: 15rem;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem; }
  /* line 155, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .grids .folding span {
    display: block;
    width: 100%;
    height: 15rem;
    background: #333333; }
/* line 162, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grids h2 {
  clear: both; }

/* line 170, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grid.grid--3-6-12 .three {
  width: 33.33333%;
  display: block !important; }
/* line 175, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grid.grid--3-6-12 .six, .grid.grid--3-6-12 .twelve {
  display: none; }
/* line 180, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grid.grid--2-4-8 .two {
  width: 50%;
  display: block !important; }
/* line 185, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grid.grid--2-4-8 .four, .grid.grid--2-4-8 .eight {
  display: none; }
/* line 190, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grid.grid--3-5-7 .three {
  width: 33.33333%;
  display: block !important; }
/* line 195, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grid.grid--3-5-7 .five, .grid.grid--3-5-7 .seven {
  display: none; }
/* line 200, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grid.grid--4-8-16 .four {
  width: 25%;
  display: block !important; }
/* line 205, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.grid.grid--4-8-16 .eight, .grid.grid--4-8-16 .sixteen {
  display: none; }

/* line 211, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.combined-grid {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 0; }
  /* line 219, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .combined-grid .grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0.3;
    padding: 0 !important; }

/* line 231, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.scale {
  max-width: 30em; }
  /* line 234, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .scale td {
    padding: 0; }

/* line 238, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
.key {
  font-weight: 700; }

@media only screen and (min-width: 48em) {
  /* line 243, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .logo {
    float: left;
    margin-top: 0; }
    /* line 247, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .logo span {
      display: inline; }
  /* line 251, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .tagline {
    float: left;
    margin-top: 1rem; }
  /* line 255, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .horizontal-nav {
    clear: both; }
    /* line 257, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .horizontal-nav .trigger {
      display: none; }
    /* line 260, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .horizontal-nav ul {
      max-height: none; }
  /* line 264, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .paragraphs {
    width: 75%; }
  /* line 268, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .type-sample p {
    font-size: 1rem;
    line-height: 1.5; }
  /* line 272, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .iconset {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 50%;
    float: left; }
  /* line 277, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .secondary-nav {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    float: left;
    width: 20%; }
  /* line 282, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .primary-content {
    width: 80%; }
  /* line 285, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .grid {
    padding: 0 !important; }
    /* line 289, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .grid.grid--2-4-8 .four {
      width: 25%;
      display: block !important; }
    /* line 293, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .grid.grid--2-4-8 .eight {
      display: none; }
    /* line 298, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .grid.grid--3-5-7 .five {
      width: 20%;
      display: block !important; }
    /* line 302, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .grid.grid--3-5-7 .seven {
      display: none; }
    /* line 307, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .grid.grid--3-6-12 .six {
      width: 16.66667%;
      display: block !important; }
    /* line 311, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .grid.grid--3-6-12 .twelve {
      display: none; }
    /* line 316, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .grid.grid--4-8-16 .eight {
      width: 12.5%;
      display: block !important; }
    /* line 320, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .grid.grid--4-8-16 .sixteen {
      display: none; }
  /* line 326, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .callouts .callout {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    float: left;
    width: 50%; }
    /* line 331, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .callouts .callout:nth-child(odd) {
      clear: both; } }

@media only screen and (min-width: 64em) {
  /* line 339, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .split-content {
    width: 50%;
    float: left; }
  /* line 343, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .primary-content {
    margin-left: 0; } }

@media only screen and (min-width: 98em) {
  /* line 349, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .type-sample p {
    font-size: 1.5rem;
    line-height: 1.5; }
  /* line 353, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .paragraphs {
    width: 50%; }
  /* line 356, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .iconset {
    width: 33.33333%; } }

@media only screen and (min-width: 110em) {
  /* line 365, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .grid.grid--2-4-8 .eight {
    width: 12.5%;
    display: block !important; }
  /* line 371, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .grid.grid--3-5-7 .seven {
    width: 14.28571%;
    display: block !important; }
  /* line 377, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .grid.grid--3-6-12 .twelve {
    width: 8.33333%;
    display: block !important; }
  /* line 383, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .grid.grid--4-8-16 .sixteen {
    width: 6.25%;
    display: block !important; }
  /* line 390, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
  .callouts .callout {
    width: 25%; }
    /* line 393, /Users/trav/Sites/craft-editorial-system/source/scss/guide.scss */
    .callouts .callout:nth-child(odd) {
      clear: none; } }
