
{% set testimonial = block.quote %}
{% set source = block.source %}
{% set sourceurl = block.sourceUrl %}
{% set sourceOrg = block.sourceOrg %}
{% set orgUrl = block.orgUrl %}
{% set avatar = '' %}

<blockquote class="{{ block.quoteType }} {{ block.quotePositon }} {{ block.quoteWidth }} {{ block.customClass }}" id="section-{{ block.id }}">
  {{ testimonial|md|typogrify }}
  {% if source %}
  <footer class="source">{% if sourceurl %}<a href="{{ sourceurl }}">{% endif %}{% if avatar %}<img src="{{ avatar }}" class="grayscale"  alt="" />{% endif %}{{ source }}{% if sourceurl %}</a>{% endif %} {% if sourceOrg %}<small>{% if orgUrl %}<a href="{{ orgUrl }}">{% endif %}{{ sourceOrg }}{% if orgUrl %}</a>{% endif %}</small>{% endif %}</footer>
  {% endif %}
</blockquote>
