{% if block.fullImageBackground == '' or block.fullImageBackground == '#000000' %}
    {% set blockColour = '' %}
{% else %}
    {% set blockColour = block.fullImageBackground %}
{% endif %}

<figure class="article__image {{ block.captionPosition }} {% include '_components/position.html' %}" id="section-{{ block.id }}">
  {% set assets = block.image %}
  {% if block.link is defined %}<a href="{{ block.link }}">{% endif %}
    {% include '_components/image' %}
  {% if block.link is defined %}</a>{% endif %}
</figure>
