{% if block.fullImageBackground == '' or block.fullImageBackground == '#000000' %}
    {% set blockColour = '' %}
{% else %}
    {% set blockColour = block.fullImageBackground %}
{% endif %}

{% if block.imageWidth == 'full' %}
</div>
{% endif %}
  <figure class="{{ block.imageWidth }} {{ block.imagePosition}} article__image{% if block.imageWidth == 'full' %} {{ block.fullImageTheme }}{% endif %} {{ block.captionPosition }} {{ block.customClasses }}"{% if blockColour and block.imageWidth == 'full' %} style="background-color:{{ blockColour }};"{% endif %} id="section-{{ block.id }}">
    {% set assets = block.images %}
    {% include '_components/image' %}
  </figure>
{% if block.imageWidth == 'full' %}
<div class="row row--tight">
{% endif %}
