<table class="table--{{ block.tableType }} {{ block.customClass }} {{ block.tableWidth }}">
  <thead>
    <tr>
      {% for col in block.tableData.columns %}
      <th style="text-align:{{ col.align }}; width:{{ col.width }};">{{ col.heading }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in block.tableData.rows %}
    <tr>
    {% for cell in row %}
      <td style="text-align:{{ block.tableData.columns[loop.index0].align }};">{{ cell|md }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
