</div>
<div class="text-callout row{% if block.tight == 1 %} row--tight{% endif %}  {{ block.customClass }} {{ block.background }}" id="section-{{ block.id }}">
  <div class="content primary-content{% if block.tcPosition == 'left' %} pull-right{% endif %}">
    {% if block.markdownContent == 1 %}
    {{ block.tccontent|markdown|typogrify }}
    {% else %}
    {{ block.tccontent|typogrify }}
    {% endif %}
  </div>
  <aside class="callout secondary-content {{ block.tcPosition }}">
    {% if block.calloutColour != '' %}<div class="content {{ block.calloutColour }}">{% endif %}
      {% if block.markdownCallout == 1 %}
      {{ block.tccallout|markdown|typogrify }}
      {% else %}
      {{ block.tccallout|typogrify }}
      {% endif %}
    {% if block.calloutColour != '' %}</div>{% endif %}
  </aside>
</div>
<div class="row row--tight">
