{% if block.videoWidth == 'full' %}
</div>
{% endif %}
  <figure class="video {{ block.videoWidth }} {{ block.customClass }}" id="section-{{ block.id }}">
    {{ block.embed|raw }}
    {% if block.vidCaption %}
    <figcaption>
      {{ block.vidCaption|markdown|widont }}

      {% if block.videoCredit %}
        <small class="source">Cinematographer: <a href="{{ block.videoCreditUrl }}">{{ block.videoCredit }}</a>{% if block.videoCreditOrg %}, <a href="{{ block.creditOrgUrl|shorten }}">{{ block.videoCreditOrg }}</a>{% endif %}</small>
      {% endif %}
    </figcaption>
    {% endif %}
  </figure>
{% if block.videoWidth == 'full' %}
<div class="row row--tight">
{% endif %}