<figure class="video {% include '_components/position.html' %}" {% include '_components/block-id' %}>
  {{ block.embedCode|raw }}
  {% if block.caption %}
  <figcaption>
    {{ block.caption|markdown|widont }}

    {% if block.credit %}
      <small class="source"><a href="{{ block.imageCreditUrl }}">{{ block.credit }}</a>{% if block.imageCreditOrganization %}, <a href="{{ block.imageCreditOrgUrl }}">{{ block.imageCreditOrganization }}</a>{% endif %}</small>
    {% endif %}
  </figcaption>
  {% endif %}
</figure>
