// HEADER

.row--header {
  padding-top: rem($line);
  padding-bottom: 0;
}

.logo {
  max-width: rem($line*5);
  max-height:rem($line*5);
  margin-top:rem($line);
  margin-bottom:rem($line);
  float:left;
}
