# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/storage/*
/craft/app/*
/craft/config/*
!/craft/storage/logo/*
.DS_Store
node_modules
bower_components
.tmp
.sass-cache
.gulp-sass-cache
