{% if block.backgroundColour is defined and block.backgroundColour != '#000000' %}
.page--{{ entry.slug }} {
  {% if block.backgroundColour != '#000000' %}background-color:{{ block.backgroundColour }};{% endif %}
}
{% endif %}
{% if block.headerBackgroundColour != '#000000' or block.headerTextColour != '#000000' %}
.page--{{ entry.slug }}__hero {
  {% if block.headerBackgroundColour != '#000000' %}background-color:{{ block.headerBackgroundColour }};{% endif %}
  {% if block.headerTextColour != '#000000' %}color:{{ block.headerTextColour }};{% endif %}
}
{% endif %}
{% if block.bodyBackgroundColour != '#000000' or block.bodyTextColour != '#000000' %}
.page--{{ entry.slug }}__content {
  {% if block.bodyBackgroundColour != '#000000' %}background-color:{{ block.bodyBackgroundColour }};{% endif %}
  {% if block.bodyTextColour != '#000000' %}color:{{ block.bodyTextColour }};{% endif %}
}
{% endif %}
{% if block.teaserBackgroundColour != '#000000' or block.headerTextColour != '#000000' %}
.teaser--{{ entry.slug }} {
  {% if block.teaserBackgroundColour != '#000000' %}background-color:{{ block.teaserBackgroundColour }};{% endif %}
  {% if block.headerTextColour != '#000000' %}color:{{ block.headerTextColour }};{% endif %}
}
{% endif %}
{% if block.linkColour is defined and block.linkColour != '#000000' %}
.art--{{ entry.slug }} a:link,
.art--{{ entry.slug }} a:visited {
  color: {{ block.linkColour }};
}
{% endif %}
{% if block.titleColour is defined and block.titleColour != '#000000' %}
.art--{{ entry.slug }} h1,
.art--{{ entry.slug }} h1 a:link,
.art--{{ entry.slug }} h1 a:visited {
  color:{{ block.titleColour }};
}
{% endif %}
{% if block.linkActiveColour is defined and block.linkActiveColour != '#000000' %}
.art--{{ entry.slug }} h1 a:hover,
.art--{{ entry.slug }} h1 a:active,
.art--{{ entry.slug }} h1 a:focus,
.art--{{ entry.slug }} .pull-quote,
.art--{{ entry.slug }} a:hover,
.art--{{ entry.slug }} a:active,
.art--{{ entry.slug }} a:focus {
  color: {{ block.linkActiveColour }};
}
{% endif %}
