{% spaceless %}{% if block.hidePrimaryHeading %}
.headline--{{ entry.slug }} { opacity:0; }
{% endif %}
{% if block.primaryHeadingFont %}
.art--{{ entry.slug }} .headline {
  font-family: {{ block.primaryHeadingFont|raw }};
}
{% endif %}
{% if block.primaryHeadingWeight %}
.art--{{ entry.slug }} .headline {
  font-weight: {{ block.primaryHeadingWeight }};
}
{% endif %}
.art--{{ entry.slug }} .headline {
  {% if block.primaryHeadingItalics ==1 %}
  font-style: italic;
  {% else %}
  font-style: normal;
  {% endif %}
}

{% if block.primaryHeadingUppercase == 1 %}
.art--{{ entry.slug }} .headline {
  text-transform: uppercase;
}
{% else %}
.art--{{ entry.slug }} .headline {
  text-transform: none; {% if block.primaryHeadingFont.label == "Calibre" %}letter-spacing: -0.025em;{% endif %}
}
{% endif %}
{% if block.primaryHeadingSize %}

@media only screen and (min-width: 64em) {
  .art--{{ entry.slug }} .headline {
    font-size: {{ block.primaryHeadingSize }};
  }
  .art--{{ entry.slug }} .headline {
    {% if block.primaryHeadingFont.label == "Calibre" %}
    line-height:0.9;
    {% else %}
    line-height: 1.125;
    {% endif %}
  }
}
{% endif %}{% endspaceless %}