{# set assets in parent template #}
{% for img in assets %}
{% if img.websiteUrl %}<a href="{{ img.websiteUrl }}">{% endif %}
<img src="{{ img.url }}" itemprop="image" alt="{{ img.altText }}" />
{% if img.websiteUrl %}</a>{% endif %}
{% if img.caption or img.credit %}
<figcaption>
  {{ img.caption|markdown|smartypants|widont }}
  {% if img.credit %}
    <small class="source">{% if img.imageCreditUrl %}<a href="{{ img.imageCreditUrl }}">{% endif %}{{ img.credit }}{% if img.imageCreditUrl %}</a>{% endif %}{% if img.imageCreditOrganization %}, {% if img.imageCreditOrgUrl %}<a href="{{ img.imageCreditOrgUrl }}">{% endif %}{{ img.imageCreditOrganization }}{% if img.imageCreditOrgUrl %}</a>{% endif %}{% endif %}</small>
  {% endif %}
</figcaption>
{% endif %}
{% endfor %}
