{% import '_macros/text-field' as input %}
{% set fieldLabel = block.fieldLabel %}
{% set fieldName = block.fieldName %}
{% if block.anchorName %}
{% set anchorName = block.anchorName %}
{% else %}
{% set anchorName = 'field-' ~ block.id %}
{% endif %}
{% set fieldType = block.fieldType %}
{% set width = block.width %}
{% if block.value %}
{% set value = block.value %}
{% else %}
{% set value = null %}
{% endif %}
{% if block.placeholderText %}
{% set placeholderText = block.placeholderText %}
{% else %}
{% set placeholderText = null %}
{% endif %}
{% if block.required %}
{% set required = 'required' %}
{% else %}
{% set required = null %}
{% endif %}

{{ input.field(fieldLabel, fieldName, anchorName, fieldType, width, value,	placeholderText, required) }}
