<!DOCTYPE html>
<html class="no-js">
  <head>
    <!-- Include meta tags -->
    {% include '_modules/meta.html' %}
    {% include '_css/critical.html' %}
    {% block css %}{% endblock %}
    {% include '_js/critical.html' %}
  </head>
  <body>
    {% include '_js/tag-manager.html' %}

    <!-- Header section -->
    {% include '_modules/header.html' %}

    <!-- Content block, child page inject content -->
    <main class="main" id="main" role="main">
    {% block page %}{% endblock %}
    </main>

    <!-- Footer section -->
    {% include '_modules/footer.html' %}

    <!-- JS Includes -->
    {% include '_js/includes.html' %}
    {% block js %}{% endblock %}
    {% include '_js/analytics.html' %}
  </body>
</html>
