<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include '_modules/meta.html' %}

    {# Fontawesome icons. For prototyping only #}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {# CSS #}
    {% if getCookie('style') %}
      {% set loaded = 'style' %}
      <link rel="stylesheet" href="/css/app.css" id="mainCss" />
    {% else %}
      {% set loaded = 'empty' %}
      {{ setCookie('style', 'loaded', now | date_modify("+24 hours").timestamp ) }}
      {% include '_css/critical.html' %}
      <link rel="preload" onload="this.rel='stylesheet'" href="/css/app.css" as="style" id="mainCss" />
    {% endif %}
    {% block css %}{% cache unless craft.config.devMode or craft.request.isLivePreview %}{% include '_art-direction' %}{% endcache %}{% endblock %}

    {% if entry is defined and entry.headSnippets %}{{ entry.headSnippets|raw }}{% endif %}

    {# LiveWires styles #}
    {% if settings.blankOutText %}<link rel="stylesheet" href="/css/livewires.css" />{% endif %}

    <noscript>
      <link rel="stylesheet" href="/css/app.css" />
    </noscript>

    {# Inline JS #}
    {% include '_js/critical.html' %}
  </head>
  <body>
    {% if settings.gtm %}{% include '_js/tag-manager.html' %}{% endif %}

    {# Header section #}
    {% include '_modules/header.html' %}

    {# Content block, child page inject content #}
    <main class="main" id="main" role="main">
    {% block page %}{% endblock %}
    </main>

    {# Footer section #}
    {% include '_modules/footer.html' %}

    {# JS Includes #}
    {% include '_js/includes.html' %}
    {% block js %}{% endblock %}
  </body>
</html>
