<!DOCTYPE html>
<html class="no-js">
  <head>
    <!-- Include meta tags -->
    {% include '_modules/head.html' %}
    <link href="/css/app.css" rel="stylesheet" media="all" />
  </head>
  <body>

    <!-- Header section -->
    {% include '_modules/header-example.html' %}

    <!-- Content block, child page inject content -->
    <main class="main" id="main" role="main">
    {% block page %}{% endblock %}
    </main>

    <!-- Footer section -->
    {% include '_modules/footer.html' %}

    <!-- JS Includes -->
    {% include '_modules/foot.html' %}
  </body>
</html>
